In [1]:
import pandas as pd
import numpy as np
from pykalman import KalmanFilter

In [3]:
New_weather_steps = pd.read_csv("New_weather_steps.csv")
New_weather_steps = New_weather_steps.drop("Unnamed: 0",axis=1)

In [4]:
# Implements the Kalman filter for single columns.
def apply_kalman_filter(data_table, col):
    # Initialize the Kalman filter with the trivial transition and observation matrices.
    kf = KalmanFilter(transition_matrices=[[1]], observation_matrices=[[1]])

    numpy_array_state = data_table[col].values
    numpy_array_state = numpy_array_state.astype(np.float32)
    numpy_matrix_state_with_mask = np.ma.masked_invalid(numpy_array_state)

    # Find the best other parameters based on the data (e.g. Q)
    kf = kf.em(numpy_matrix_state_with_mask, n_iter=5)

    # And apply the filter.
    (new_data, filtered_state_covariances) = kf.filter(numpy_matrix_state_with_mask)

    data_table[col + '_kalman'] = new_data
    return(data_table)

In [5]:
data_table = New_weather_steps
col = "temp_celsius"
data_table = apply_kalman_filter(data_table, col)
display(data_table.iloc[:15])

,start,steps,direction_wind,windspeed_avg_hour,windspeed_avg_10min,max_wind_gust,temp_celsius,temp_min_6h,temp_dewpoint,sunshine_duration,...,relative_humidity,weather_code,indicator_present_weather_code,fog,rain,snow,thunder,ice_formation,int_steps,temp_celsius_kalman
0,2023-01-01 00:00:00,0.000000,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,0,97.229469
1,2023-01-01 00:10:00,97.054054,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,97,130.315610
2,2023-01-01 00:20:00,94.945946,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,94,139.429072
3,2023-01-01 00:30:00,0.000000,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,0,141.439368
4,2023-01-01 00:40:00,46.876667,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,46,141.877798
5,2023-01-01 00:50:00,126.326232,220.0,110.0,130.0,200.0,142.0,NaN,84.0,0.0,...,68.0,NaN,5,0.0,0.0,0.0,0.0,0.0,126,141.973364
6,2023-01-01 01:00:00,128.406776,220.0,160.0,150.0,200.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,128,141.973364
7,2023-01-01 01:10:00,26.821821,220.0,160.0,150.0,200.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,26,141.973364
8,2023-01-01 01:20:00,0.000000,220.0,160.0,150.0,200.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,0,141.973364
9,2023-01-01 01:30:00,94.514644,220.0,160.0,150.0,200.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,94,141.973364
10,2023-01-01 01:40:00,83.035725,220.0,160.0,150.0,200.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,83,141.973364
11,2023-01-01 01:50:00,1.945755,220.0,160.0,150.0,200.0,NaN,NaN,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,1,141.973364
12,2023-01-01 02:00:00,0.000000,210.0,140.0,130.0,170.0,126.0,NaN,77.0,0.0,...,72.0,NaN,5,0.0,0.0,0.0,0.0,0.0,0,126.745631
13,2023-01-01 02:10:00,117.962963,210.0,140.0,130.0,170.0,126.0,NaN,77.0,0.0,...,72.0,NaN,5,0.0,0.0,0.0,0.0,0.0,117,126.156674
14,2023-01-01 02:20:00,134.037037,210.0,140.0,130.0,170.0,126.0,NaN,77.0,0.0,...,72.0,NaN,5,0.0,0.0,0.0,0.0,0.0,134,126.034092